<%layout('layout/boilerplate')%>
<h1>Add a new campground</h1>
<form action="/campgrounds/<%=id%>" method="POST">
    <label for="title">Enter the title</label>
    <input type="text" id='title' name='title' value='<%=title %> '>

    <label for="city">Enter the city</label>
    <input type="text" name="city" id="city" value="<%=city%> ">
    <label for="state">Enter the state</label>
    <input type="text" name="state" id="state" value="<%=state%> ">
    <button type="submit"> Submit </button>
</form>
<a href="/campgrounds/<%=id%>">Cancel and Quit</a>