<%layout('layout/boilerplate') %>
<div class="row mb-5">
    <div class="col-8 offset-2">
        <div class="card">
            <img src="<%=campground.image%>" class="card-img-top square rounded img-fluid">
            <div class="card-body">
                <h5 class="card-title"><%=campground.title%> </h5>
                <p class="card-text"><%=campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <small class="text-muted">Location:</small>
                    <span><%=campground.location%></span>
                </li>

                <li class="list-group-item">
                    <small class="text-muted">Price:</small>
                    <span>$<%=campground.price%>/night</span>
                </li>
            </ul>
            <div class="card-body">
                <a class="btn btn-info card-link" href="/campgrounds/<%=campground._id%>/edit">edit campground</a>
                <a class="btn btn-danger card-link" href="/campgrounds/<%=campground._id%>/delete">delete campground</a>
                <a class="btn btn-warning card-link" href="/campgrounds">All Campgrounds</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>