<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground <%=campground.title%></title>
</head>

<body>
    <h1>welcome to campground of <%=campground.title%></h1>
    <h2>Location: <%=campground.location%></h2>
    <h2><%=campground._id%> </h2>
    <a href="/campgrounds/<%=campground._id%>/edit">edit campground</a>
    <a href="/campgrounds/<%=campground._id%>/delete">delete campground</a>
    <a href="/campgrounds">All Campgrounds</a>

</body>

</html>