<%layout('layout/boilerplate') %>

<h1>welcome to campground of <%=campground.title%></h1>
<h2>Location: <%=campground.location%></h2>
<img src="<%=campground.image%>" alt="">
<p><%=campground.description%> </p>
<p>Price: $<%=campground.price%></p>
<a href="/campgrounds/<%=campground._id%>/edit">edit campground</a>
<a href="/campgrounds/<%=campground._id%>/delete">delete campground</a>
<a href="/campgrounds">All Campgrounds</a>